.container {
  width: 100%;
}
.content {
  width: clamp(375px, 60vw, 700px);
  margin: auto;
}

.todo-content {
  display: inline-block;
}

.limit {
  padding-left: 30px;
}

.form-container {
  margin: auto;
  width: 80%;
  position: relative;
}

.primary-button {
  position: absolute;
  right: 0;
  bottom: 0;
}
