.container {
  width: 100%;
}
.content {
  width: clamp(375px, 60vw, 700px);
  margin: auto;
  /* position: relative; */
}

.todo-content {
  display: inline-block;
}

.limit {
  padding-left: 30px;
}

.form-back {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.form-content {
  width: clamp(375px, 60%, 700px);
  top: 60%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  background-color: aliceblue;
  z-index: 2;
  padding: 20px;
  height: 40%;
  box-sizing: border-box;
  border-radius: 10px 10px 0px 0px;
  transition: 0.3s;
}

.form-hide {
  top: 100%;
  height: 0;
  visibility: hidden;
}

.input-rap {
  position: relative;
}

.primary-button {
  position: absolute;
  right: 0;
  bottom: 0;
}

.delete-button {
  position: absolute;
  right: 80px;
  bottom: 0;
}

.form {
  z-index: 2;
  background-color: aqua;
}

.add-button {
  position: fixed;
  bottom: 40px;
  left: calc(50% - 31px);
  z-index: 2;
}
